a {
    text-decoration: none;
    color: white
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 100vh;
    overflow: hidden;
}

.login {
    /*  background-image: ; */
    margin: 0vh auto;
    border-radius: 10px;
    height: 100vh;
    width: 100vw;
}

.login .title {
    padding: 2%;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    gap: 2.5vw;
    border-radius: 10px 10px 0px 0px;
}

.login form {
    background-color: var(--darkGreen);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    padding: 3% 10% 10% 10%;
    border-radius: 0px 0px 10px 10px;
}

.login form h2 {
    color: white
}

.login input {
    padding: 3% 5%;
    width: 70%;
    border-radius: 5px;
}



.login img {
    width: 3.5vw
}

.login .form_container {
    margin: 25vh auto;
    width: 30vw;
}

.side_bar {
    background-color: var(--darkGreen);
    height: 100vh;
    width: 20vw;
}

.active {
    color: var(--yellow)
}

.content_window {
    width: 80vw;
    height: 100vh;
}

.banner {
    align-items: center;
    display: flex;
    background-color: var(--yellow);
    padding: .625rem 1.25rem;
    gap: 1.25rem;
}

.banner h2 {
    font-size: 1.5625rem;
    font-weight: 600;
}

.banner img {
    width: 3.125rem
}

.profile_info {
    padding: 1.25rem 0rem;
    text-align: center;
    width: 100%
}

.profile_info h3 {
    color: var(--yellow)
}

.profile_info p {
    color: var(--white)
}

.profile_picture {
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
}

.school_name {
    border-top: .0625rem solid var(--white);
    text-align: center;
    padding: 1.25rem 0rem;
    color: var(--yellow)
}

.school_name p {
    font-size: .8125rem;
}

.first_layer {
    background-color: var(--darkGreen);
}

.first_layer,
.second_layer {
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.5625rem;
    flex-direction: column;
    list-style-type: none;
    display: flex;
    gap: 2.1875rem;
    padding: 5% 17%;
}

.second_layer {
    padding: 0 0 0 13%;
}

.drop_down_show {
    display:block;
}

.drop_down_hide {
    display: none;
}

.nav_icon {
    vertical-align: middle;
    font-size: 1.25rem;
    padding-right: .3125rem;
}

.nav_bar li {
    vertical-align: middle;
    color: var(--white);
    cursor: pointer;
}

.nav_bar li:hover {
    color: #FFDE59
}

a:hover {
    color: #FFDE59
}

.main_con .home {
    display: flex;
    flex-direction: column;
}

.home .welcome_banner {
    height: 11vh;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    margin: 1.25rem auto 0rem auto;
    width: 69vw;
    border: 2px solid var(--darkGreen);
}

.welcome_banner h3 {
    font-weight: 300;
    font-size: 2.5rem;
}

.welcome_banner h1 {
    font-size: 3.125rem;
}

.second_section {
    height: 40vh;
    width: 72vw;
    justify-content: space-around;
    margin: 0rem auto;
    display: flex;
    text-align: center;
}

.second_section .requirement_list {
    width: 35vw;
}

.second_section h3 {
    padding: 2% 0rem;
}

.requirement_list button {
    padding: 0.7% 1.5%;
    border-radius: 5px;
    border: 1px solid black;
    margin: 4% auto;
}


.requirement_list table {
    font-size: 1rem;
    width: 32vw;
    border-collapse: collapse;
    margin: 0rem auto;
}

.requirement_list th {
    padding: 2% 1.5%;
    width: max-content;
    border: 2px solid var(--darkGreen);
}

.requirement_list td {
    font-size: 90%;
    padding: 2.3% 2%;
    border: 2px solid var(--darkGreen);
}

.announcement_list {
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.announcement_list button {
    padding: 0.7% 1.5%;
    border-radius: 5px;
    border: 1px solid black;
    margin: 1.5% auto;
}

.announcement_list textarea {
    padding: 5%;
    font-size: 1.25rem;
    height: 54%;
    resize: none;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid black;
}

.announcement_list ul {
    padding-top: 1.5%;
    padding-left: 8.5%;
    text-align: justify;
    display: flex;
    height: 28vh;
    flex-direction: column;
    gap: .625rem;
}

.announcement_list li::before {
    content: "⦿ ";
}

.last_section {
    border-radius: 10x;
    border: 2px solid var(--darkGreen);
    width: 73vw;
    height: 20vh;
    padding: .625rem;
    margin: 0rem auto;
    border-radius: .625rem;
}

.last_section h3 {
    padding: 0.7% 0.7% 1% 0.7%;
}

.last_section ul {
    display: flex;
    flex-direction: column;

    padding-left: .9375rem;
}

.last_section li {
    vertical-align: top;
    padding-bottom: 0.8%;
}

.last_section li::before {
    vertical-align: top;
    position: relative;
    top: 4px;
    content: "►  ";
}

.employee_table {}