:root {
    --darkGreen: #033403;
    --white: #fff;
    --yellow: #FFDE59;
    --mainFont: 'Raleway', sans-serif;
}

.side_bar {
    background-color: var(--darkGreen);
    width: 20%;
    height:100vh
}

.profile_info {
    padding: 20px 0px;
    text-align: center;
    width: 100%
}

.profile_info h3 {
    color: var(--yellow)
}

.profile_info p {
    color: var(--white)
}

.profile_picture {
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
}
.school_name{
    border-top: .0625rem solid var(--white) ;
    text-align: center;
    padding:1.25rem 0rem;
    color:var(--yellow)
}
.school_name p{
    font-size: .8125rem;
}