a {
    text-decoration: none;
    color: white
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 100vh;
    overflow: hidden;
}

.login {
    /*  background-image: ; */
    margin: 0vh auto;
    border-radius: 10px;
    height: 100vh;
    width: 100vw;
}

.login .title {
    padding: 2%;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    gap: 2.5vw;
    border-radius: 10px 10px 0px 0px;
}

.login form {
    background-color: var(--darkGreen);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    padding: 3% 10% 10% 10%;
    border-radius: 0px 0px 10px 10px;
}

.login form h2 {
    color: white
}

.login input {
    padding: 3% 5%;
    width: 70%;
    border-radius: 5px;
}



.login img {
    width: 3.5vw
}

.login .form_container {
    margin: 25vh auto;
    width: 30vw;
}

.side_bar {
    background-color: var(--darkGreen);
    height: 100vh;
    width: 20vw;
}

.active {
    color: var(--yellow)
}

.content_window {
    width: 80vw;
    height: 100vh;
}

.banner {
    align-items: center;
    display: flex;
    background-color: var(--yellow);
    padding: .625rem 1.25rem;
    gap: 1.25rem;
}

.banner h2 {
    font-size: 1.5vw;
    font-weight: 600;
}

.banner img {
    width: 3vw
}

.profile_info {
    padding: 1.25rem 0rem;
    text-align: center;
    width: 100%
}

.profile_info h3 {
    font-size: 1vw;
    color: var(--yellow)
}

.profile_info p {
    font-size: 1vw;
    color: var(--white)
}

.profile_picture {
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
}

.school_name {
    border-top: .0625rem solid var(--white);
    text-align: center;
    padding: 1.25rem 0rem;
    color: var(--yellow);
    font-size: 1.3vw;
}

.school_name p {
    font-size: .82vw;
}

.first_layer {
    background-color: var(--darkGreen);
}

.first_layer,
.second_layer {
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.5625rem;
    flex-direction: column;
    list-style-type: none;
    display: flex;
    gap: 2.3vw;
    padding: 5% 17%;
}

.second_layer {
    padding: 0 0 0 13%;
}

.drop_down_show {
    display: block;
}

.drop_down_hide {
    display: none;
}

.nav_icon {
    vertical-align: middle;
    font-size: 1.25rem;
    padding-right: .3125rem;
}

.nav_bar li {
    font-size: 1.7vw;
    vertical-align: middle;
    color: var(--white);
    cursor: pointer;
}

.nav_bar li:hover {
    color: #FFDE59
}

a:hover {
    color: #FFDE59
}

.main_con .home {
    display: flex;
    flex-direction: column;
}

.home .welcome_banner {
    height: 11vh;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    margin: 1.25rem auto 0rem auto;
    width: 69vw;
    border: 2px solid var(--darkGreen);
}

.welcome_banner h3 {
    font-weight: 300;
    font-size: 2.5rem;
}

.welcome_banner h1 {
    font-size: 3vw;
}

.second_section {
    height: 40vh;
    width: 72vw;
    justify-content: space-around;
    margin: 0rem auto;
    display: flex;
    text-align: center;
}

.second_section .requirement_list {
    width: 35vw;
}

.second_section h3 {
    padding: 2% 0rem;
}

.requirement_list button {
    padding: 0.7% 1.5%;
    border-radius: 5px;
    border: 1px solid black;
    margin: 4% auto;
}


.requirement_list table {
    font-size: 1rem;
    width: 32vw;
    border-collapse: collapse;
    margin: 0rem auto;
}

.requirement_list th {
    padding: 2% 1.5%;
    width: max-content;
    border: 2px solid var(--darkGreen);
}

.requirement_list td {
    font-size: 90%;
    padding: 2.3% 2%;
    border: 2px solid var(--darkGreen);
}

.leavesLeft {
    background-color: var(--yellow);
    width: fit-content;
    padding: .5vw;
    border-radius: 10px;
    font-weight: 600;
}

.announcement_list {
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.announcement_list button {
    padding: 0.7% 1.5%;
    border-radius: 5px;
    border: 1px solid black;
    margin: 1.5% auto;
}

.announcement_list textarea {
    padding: 5%;
    font-size: 1.25rem;
    height: 54%;
    resize: none;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid black;
}

.announcement_list ul {
    padding-top: 1.5%;
    padding-left: 8.5%;
    text-align: justify;
    display: flex;
    height: 28vh;
    overflow: scroll;
    flex-direction: column;
    gap: .625rem;

}

.announcement_list li::before {
    content: "⦿ ";
}

.last_section {
    border-radius: 10x;
    border: 2px solid var(--darkGreen);
    width: 73vw;
    height: 20vh;
    padding: .625rem;
    margin: 0rem auto;
    border-radius: .625rem;
}

.last_section h3 {
    padding: 0.7% 0.7% 1% 0.7%;
}

.last_section ul {
    display: flex;
    flex-direction: column;

    padding-left: .9375rem;
}

.last_section li {
    vertical-align: top;
    padding-bottom: 0.8%;
}

.last_section li::before {
    vertical-align: top;
    position: relative;
    top: 4px;
    content: "►  ";
}

/* Employee Section */
.add_employee,
.edit_employee {
    margin: 5vh 4vw;
}

.add_employee h1 {
    margin-bottom: 5vh;
}

.edit_employee h1 {
    margin-bottom: 2vh;
}

.edit_employee button.goBackBtn {
    background-color: var(--darkGray);
    font-size: 1vw;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 2vh;
    text-align: center;
}

.add_employee form,
.listOfEmployee form {
    display: flex;
    flex-direction: column;
    gap: 2.7vw
}


.add_employee form .input_group,
.listOfEmployee form .input_group {
    display: flex;
    flex-direction: row;
    gap: 7vw
}

.add_employee form .input_group div .titleInput,
.listOfEmployee form .input_group div .titleInput {
    font-weight: 700;
}

.add_employee form .input_group div,
.listOfEmployee form .input_group div {
    display: flex;
    flex-direction: column;
    gap: 0.4vw
}

.add_employee input,
.add_employee select,
.listOfEmployee input,
.listOfEmployee select {
    font-size: 1.125vw;
    border-radius: .3125rem;
    padding: 15px 2vw;
    border: 2px solid var(--darkGreen);
    width: 15vw;
}

.add_employee input[type="date"],
.listOfEmployee input[type="date"] {
    width: 15vw;
}

.add_employee .email_input,
.listOfEmployee .email_input {
    width: 15.2vw;
}

.add_employee select,
.listOfEmployee select {
    width: 38.5vh
}

.third_form_group select {
    width: 19.4h
}

.third_form_group {
    gap: vw !important
}

.submit_button {
    display: flex;
    justify-content: end;
}

.submit_button input {
    border: 0px;
    background-color: var(--darkGreen);
    color: var(--white)
}

.err {
    color: rgba(0, 0, 0, 0.413);
    padding: 1vh 0px 0px 1vw;
    color: red;
    height: 0px;
}

/* Employee List Css */

.table_contaner {
    border-radius: 5px;
    width: 85%;
    margin: 2.5% auto;
    padding: 2% 3%;
    background-color: var(--darkGreen);
}

.table_contaner .title_bar {
    display: flex;
    padding: 0px 0px 10px 20px;
    gap: 2%;
}

.table_contaner .title_bar h1 {
    color: var(--white);
    border-right: 2px solid black;
    padding-right: 3%;
}

.table_contaner .title_bar input {
    padding: 1%;
    width: 200px;
    border-radius: 10px;
}

.employee_table {
    border-radius: 10px;
    margin: 0 auto;
    height: 73vh;
    overflow-y: overlay;
    width: 100%;
}

.tableAction {
    display: flex;
}

.tableAction button {
    display: inline;
    padding: 1px;
    background: none;
    margin: 0px 5px;
    border: 1px solid black;
    border-radius: 50%;
}

.tableAction button span {
    vertical-align: middle;
}

.tableAction .reject:hover {
    background-color: var(--red);
    color: var(--white)
}

.tableAction .approve:hover {
    background-color: var(--darkGreen);
    color: var(--white)
}

.Payroll {
    margin: 3vh 2vw;
    color: var(--white);
}

.Payroll .form_container {
    text-align: center;
    color: var(--white);
    border-radius: 10px;
    padding: 2vh 2vw;
    background-color: var(--darkGreen);

}

.Payroll .form_container form {
    padding: 1vh 1vw;
}

.Payroll .form_container form .input_container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}


.Payroll .form_container .form_col {
    display: flex;
    flex-direction: column;
    gap: 1.1vh;
}

.Payroll .input {
    border-radius: 5px;
    color: black;
    padding: 1vh 0.2vw;
    background-color: var(--lightGray);
    display: flex;
    flex-direction: row;
    width: 21.56vw;
    height: 3vh
}

.Payroll .input span {
    margin-right: 0.2vw;
    font-weight: 600;
    white-space: nowrap;
}

.Payroll .input input {
    background-color: var(--lightGray);
    font-size: 1vw;
    overflow: hidden;
    width: 16vw;
    height: 2.2vh
}

.Payroll .input_total {
    background-color: var(--darkGray);
}

.Payroll .input_total input {
    background-color: var(--darkGray);
}

.Payroll input[type="submit"] {
    padding: 1vh 1vw;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    box-shadow: rgb(50, 50, 93) 0px 2px 5px -1px, rgb(0, 0, 0) 0px 1px 3px -1px;
}

.Payroll input[type="submit"]:hover {
    transition: 100ms;
    box-shadow: rgba(0, 0, 0, 0.274) 0px 2px 4px 0px inset;
}

/* Employee Page */
/* Emp Home */
.home .announcementBoard {
    text-align: center;
    border: 2px solid var(--darkGreen);
    margin: 2vh auto;
    width: 72.3vw;
    height: 55vh;
    border-radius: 10px;
    padding: 2vh 1vw;
}

.announcementCards {
    margin: 3vh 2vw;
    display: flex;
    gap: 2vw;
    overflow-y: hidden
}

.AnnouncementCard {
    padding: 2vh 2vw;
    border: 2px solid var(--darkGreen);
    border-radius: 10px;
    height: 35vh;
    min-width: 10vw;
}

.announcementCards .AnnouncementCard h3 {
    font-size: 1vw;
}

.AnnouncementCard p {
    color: var(--darkGray);
    font-size: 1.2vw;
    font-weight: 500;
    padding: 2vh 1vw;
    line-break: auto;
}

/* EMPAccount  */
.EMPAccount {
    width: 77vw;
    margin: 2vh auto;
}

.EMPAccount h1.myAccountH {
    margin-bottom: 2vh;
    font-size: 2.5vw;
}

.EMPAccount .section1 {
    display: flex;
    gap: 1vw;
}

.EMPAccount .accountInfo {
    padding: 2vh 1vw;
    border-radius: 10px;
    width: 38vw;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--darkGreen);
}

.EMPAccount .accountInfo .header h1 {
    font-size: 2.6vw;
}

.EMPAccount .accountInfo .allInfo {
    padding: 5vh 0vw;
    display: flex;
}

.EMPAccount .accountInfo .allInfo .category {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-right: 3vw;
}

.EMPAccount .accountInfo .allInfo .category h2 {
    font-size: 1.4vw;
}

.EMPAccount .accountInfo .allInfo .infos {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.EMPAccount .accountInfo .allInfo .infos p {
    font-size: 1.4vw;
}

.EMPAccount .accountInfo .allInfo .infos input {
    border: 1px solid var(--darkGreen);
    font-size: 1.3vw;
}


.EMPAccount .editButton {
    background-color: var(--darkGreen);
    padding: 2.2vh 3.2vw;
    width: 11vw;
    color: var(--white);
    font-size: 1.4vw;
    font-weight: 600;
    justify-self: end
}

.EMPAccount .scheduleInfo {
    padding: 2vh 1vw;
    border-radius: 10px;
    width: 38vw;
    border: 2px solid var(--darkGreen);
}

.EMPAccount .scheduleInfo .table {
    border-collapse: collapse;
    border: 2px solid var(--darkGreen);
}

.EMPAccount .scheduleInfo .table td,
.EMPAccount .scheduleInfo .table th {
    border: 2px solid var(--darkGreen);
    padding: 2vh 1vw;
    font-size: 3.5vh;
}

.EMPAccount .scheduleInfo .table td {
    padding: 1.2vw 2.7vw;
}

.EMPAccount .scheduleInfo h1 {
    padding: 1vh 1vw;
    font-size: 2.3vw;
    margin-bottom: 1.6vh;
    border-bottom: 2px solid var(--darkGray);
}

.EMPAccount .scheduleInfo .table .day {
    font-weight: 600;
}

/* Employee requirements */
.EMPRequest,
.EMPRequirement {
    margin: 1vw 1.5vw;
    display: flex;
    gap: 2vw;
}

.EMPRequest .requestForm h1,
.EMPRequirement .requestForm h1 {
    font-size: 1.5vw;
}

.EMPRequest .requestForm,
.EMPRequirement .requestForm {
    border: 2px solid var(--darkGreen);
    padding: 1vw;
    border-radius: 10px;
}

.EMPRequest .requestTable,
.EMPRequirement .requestTable {
    border-radius: 10px;
    width: 50vw;
    border: 2px solid var(--darkGreen);
    padding: 0.5vw;
}

.EMPRequest .requestForm form,
.EMPRequirement .requestForm form {
    margin: 1vw 0.5vw;
    gap: 2vw;
    display: flex;
    flex-direction: column;
}

.EMPRequest .inputGrp,
.EMPRequirement .inputGrp {
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw
}

.EMPRequest .inputGrp label,
.EMPRequirement .inputGrp label {
    margin-bottom: 0.5vw;
    font-size: 1.8vw;
    font-weight: 600;
}

.EMPRequest .requestForm input,
.EMPRequest .requestForm select,
.EMPRequest .requestForm textarea,
.EMPRequirement .requestForm input,
.EMPRequirement .requestForm select,
.EMPRequirement .requestForm textarea {
    font-size: 1vw;
    border: 2px solid var(--darkGreen);
    border-radius: 10px;
    padding: 1vw
}

.EMPRequest .requestForm .submit_btn,
.EMPRequirement .requestForm .submit_btn {
    background-color: var(--darkGreen);
    color: white;
    font-weight: 400;
}

.EMPRequest .table_contaner,
.EMPRequirement .table_contaner {
    border-radius: 5px;
    width: 85%;
    margin: 1vw auto;
    padding: 0.5vw 3%;
    background-color: var(--darkGreen);
}

.textarea {
    resize: none;
    width: 20vw;
    height: 10vh;
}

.DocLink {
    color: blue;
    font-weight: 600;
}

.DocLink:hover {
    color: rgb(15, 15, 63);
    cursor: pointer;
}

.status_reject {
    padding: 0.5vw;
    background: var(--red);
    border-radius: 5px;
    color: var(--white)
}

.status_approve {
    padding: 0.5vw;
    background: var(--darkGreen);
    border-radius: 5px;
    color: var(--white)
}

.status_review {
    padding: 0.5vw;
    background: var(--darkGray);
    border-radius: 5px;
    color: var(--white)
}