@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --darkGreen: #257849;
    --green: #033403;
    --white: #ffff;
    --yellow: #FFDE59;
    --mainFont: 'Raleway', sans-serif;
    font-size: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
}

button:hover,
input[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"] {
    width: fit-content
}
